<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BigBazar - Multipurpose Ecommerce HTML Template">

    <meta name="author" content="root">
    <title>BigBazar - Multipurpose Ecommerce HTML Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/layerslider.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/category/optical-shop.css">
</head>

<body>

    <div id="page_wrapper" class="bg-light">
        <!--==================== Header Section Start ====================-->

        <%- include('../partials/header') %>

            <!--==================== Header Section End ====================-->

            <!--==================== Slider Section Start ====================-->
            <!-- Slider HTML markup -->
            <div class="full-row p-0 overflow-hidden bg-white sm-mx-none">
                <div id="slider" style="width:100%; margin:0 auto; margin-bottom: 0px;">
                    <!-- Slide 1-->
                    <div class="ls-slide" data-ls="duration:12000; transition2d:4; kenburnsscale:1.2;">

                        <div style="width:100%; height:100%; top:50%; left:50%;" class="ls-l ls-hide-phone"
                            data-ls="easingin:easeOutQuint; durationout:400; parallaxlevel:0; position:fixed;"></div>

                        <p style="font-weight:700; font-size:240px; line-height:240px; color:#fafafa; top:50%; left:50%;"
                            class="ls-l"
                            data-ls="offsetxin:left; durationin:3000; delayin:1000; easingin:easeOutExpo; offsetxout:right; durationout:500; rotatexin:20; scalexin:1; parallaxlevel:0;">
                            OPTICAL</p>

                        <p style="width:580px; font-weight:500; font-size:18px; line-height:30px; text-transform: uppercase; top:10%; left:150px; white-space:normal;"
                            class="ls-l ls-hide-phone text-dark ordenery-font"
                            data-ls="offsetxin:150; durationin:700; easingin:easeOutBack; rotatexin:20; scalexin:1; offsetyout:600; durationout:400; parallaxlevel:0; delayin:300;">
                            Starting At</p>

                        <p style="font-weight:700; width:700px; font-size:50px; line-height:76px; color:#181a1d; top:16%; left: 150px; white-space:normal;"
                            class="ls-l ls-hide-phone higlight-font"
                            data-ls="offsetxin:150; durationin:700; delayin:500; easingin:easeOutBack; rotatexin:20; scalexin:1; offsetyout:600; durationout:400; parallaxlevel:0;">
                            <small class="font-small">$</small><span class="text-primary">79.00</span>
                        </p>

                        <p style="width:180px; font-weight:600; font-size:16px; line-height:30px; text-transform: uppercase; top:20%; left:150px; white-space:normal;"
                            class="ls-l ls-hide-phone ordenery-font"
                            data-ls="offsetxin:150; durationin:700; easingin:easeOutBack; rotatexin:20; scalexin:1; offsetyout:600; durationout:400; parallaxlevel:0; delayin:700;">
                            Frame + Lanse</p>

                        <p style="width:280px; font-weight:400; font-size:18px; line-height:30px; color:#333333; top:28%; left:150px; white-space:normal;"
                            class="ls-l ls-hide-phone ordenery-font"
                            data-ls="offsetxin:150; durationin:700; easingin:easeOutBack; rotatexin:20; scalexin:1; offsetyout:600; durationout:400; parallaxlevel:0; delayin:900;">
                            Made for living in the moment, express your authentic style with Ray-Ban. You’re on.</p>

                        <img width="802" height="500" src="/images/slider/28.png" class="ls-l" alt=""
                            style="top:50%; left:50%; text-align:initial; font-weight:400; font-style:normal; text-decoration:none;"
                            data-ls="showinfo:1; offsetxin:300;">

                        <p style="text-align:left; white-space:pre-wrap; font-size:16px; font-weight: 400; line-height:30px; width:270px; top:75%; left:39.5%; white-space:normal;"
                            class="ls-l"
                            data-ls="offsetyin:40; delayin:2000; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3">
                            Per integer est egestas, maecenas eleifend. Varius iaculis pretium adipiscing.</p>

                        <p style="font-weight:600; text-transform: uppercase; text-align:left; width:200px; font-size:18px; line-height:80px; top:68%; left:37.5%; white-space:normal;"
                            class="ls-l text-dark higlight-font"
                            data-ls="offsetyin:40; delayin:1500; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;">
                            Since <span class="text-primary">1986</span></p>

                        <div style="font-size:15px; top:58%; left:34%" class="ls-l ls-hide-phone ls-hide-tablet"
                            data-ls="offsetyin:40; delayin:1000; easingin:easeOutQuint; offsetyout:-300; durationin:1500; durationout:400; parallax:false; parallaxlevel:1;">
                            <div class="simple-video-play d-table ml-auto mt-3">
                                <a data-fancybox href="https://www.youtube.com/watch?v=bh-klGboIg8"
                                    class="rounded-circle bg-primary"><i
                                        class="flaticon-right-arrow-black-triangle position-relative xy-center flat-mini rounded-circle text-white"></i></a>
                            </div>
                        </div>

                        <img width="490" height="180" src="/images/slider/29.png"
                            class="ls-l ls-hide-phone ls-hide-tablet" alt=""
                            style="top:35%; left:62%; text-align:initial; font-weight:400; font-style:normal; text-decoration:none;"
                            data-ls="showinfo:1; offsetxin:300; delayin:300;">

                        <p style="text-align:left; white-space:pre-wrap; font-size:16px; font-weight: 400; line-height:30px; width:270px; top:28%; left:82%; white-space:normal;"
                            class="ls-l text-dark ls-hide-phone ls-hide-tablet"
                            data-ls="offsetyin:40; delayin:1000; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3">
                            With safety glasses tight, youll surely keep your sight.</p>

                        <img width="177" height="26" src="/images/slider/30.png"
                            class="ls-l ls-hide-phone ls-hide-tablet" alt=""
                            style="top:39%; left:70%; text-align:initial; font-weight:400; font-style:normal; text-decoration:none;"
                            data-ls="showinfo:1; offsetxin:300; delayin:500;">

                        <p style="text-align:left; white-space:pre-wrap; font-size:16px; font-weight: 400; line-height:30px; width:270px; top:39%; left:82%; white-space:normal;"
                            class="ls-l text-dark ls-hide-phone ls-hide-tablet"
                            data-ls="offsetyin:40; delayin:1200; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3">
                            Strong Optical Frame.</p>

                        <img width="177" height="26" src="/images/slider/30.png"
                            class="ls-l ls-hide-phone ls-hide-tablet" alt=""
                            style="top:50%; left:70%; text-align:initial; font-weight:400; font-style:normal; text-decoration:none;"
                            data-ls="showinfo:1; offsetxin:300; delayin:700;">

                        <p style="text-align:left; white-space:pre-wrap; font-size:16px; font-weight: 400; line-height:30px; width:270px; top:50%; left:82%; white-space:normal;"
                            class="ls-l text-dark ls-hide-phone ls-hide-tablet"
                            data-ls="offsetyin:40; delayin:1400; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3">
                            Keep Calm and Wear Glasses</p>

                    </div>
                </div>
            </div>
            <!--==================== Slider Section End ====================-->

            <!--==================== Glass Models Section Start ====================-->
            <div class="full-row bg-light">
                <div class="container">
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 glass-models">
                        <div class="col">
                            <div class="banner-wrapper hover-img-zoom custom-class-118">
                                <div class="banner-image overflow-hidden transation"><img src="/images/banner/71.png"
                                        alt="Banner Image"></div>
                                <div class="banner-content position-absolute">
                                    <div class="product-tag"><span>Hot Trend</span></div>
                                    <div class="content-bottom">
                                        <h4><a href="#" class="text-dark mb-10 d-block text-uppercase">General
                                                Optical</a>
                                        </h4>
                                        <a href="/shop" class="btn-link-down-line">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="banner-wrapper hover-img-zoom custom-class-118">
                                <div class="banner-image overflow-hidden transation"><img src="/images/banner/72.png"
                                        alt="Banner Image"></div>
                                <div class="banner-content position-absolute">
                                    <div class="product-tag"><span>Sale Up to 30%</span></div>
                                    <div class="content-bottom">
                                        <h4><a href="#" class="text-dark mb-10 d-block text-uppercase">Fashion
                                                Sunglass</a>
                                        </h4>
                                        <a href="/shop" class="btn-link-down-line">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="banner-wrapper hover-img-zoom custom-class-118">
                                <div class="banner-image overflow-hidden transation"><img src="/images/banner/73.png"
                                        alt="Banner Image"></div>
                                <div class="banner-content position-absolute">
                                    <div class="product-tag"><span>Classic Product</span></div>
                                    <div class="content-bottom">
                                        <h4><a href="#" class="text-dark mb-10 d-block text-uppercase">Ratina Glass</a>
                                        </h4>
                                        <a href="/shop" class="btn-link-down-line">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Glass Models Section End ====================-->

            
            <!--==================== Stock Limited Section Start ====================-->
            <div class="full-row limited-stock sm-bg-img-none bg-primary"
                style="background: url(/images/background/6.png) no-repeat top / cover;">
                <div class="container">
                    <div class="row sm-justify-content-center">
                        <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5 offset-lg-1">
                            <div class="text-center">
                                <span class="product-tag">Stock Limited</span>
                                <h2>Luxury vintage mirror brand summer season sale up to 30%</h2>
                                <a href="#" class="btn btn-dark">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Stock Limited Section End ====================-->

            <!--==================== Top Collection Section Start ====================-->
            <div class="full-row">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h3 class="main-title down-line text-center text-dark text-uppercase">Top Collection</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="top-collection-tab list-color-dark nav-tab-active-primary">
                                
                                <div class="tab-content icon-hover-primary product-style-1">
                                    <div class="tab-pane fade show active" id="pills-latest-product-one">
                                        <div
                                            class="row gy-3 row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 e-title-general e-title-hover-primary e-image-bg-gray e-hover-image-zoom e-btn-set-four cart-slide-left e-info-center">
                                            <!-- dynamic data start  -->
                                            <% data.forEach((item) => { %>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="/view/<%= item._id %>" class="woocommerce-LoopProduct-link"><img
                                                                    src="/uploads/<%= item.product_image1 %>"
                                                                    alt="Product Image"></a>
                                                            
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="/view/<%= item._id %>"><%= item.product_name %></a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>₹<%= item.product_price %></ins>
                                                                    <del>₹<%= item.product_original_price %></del>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a><i class="fas fa-star"></i><span>
                                                                                <%= item.product_star %>
                                                                                (<%= item.product_quantity %>)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <% }) %>
                                            <!-- dynamic data end  -->
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-top-rating-one">
                                        <div
                                            class="row gy-3 row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 e-title-general e-title-hover-primary e-image-bg-gray e-hover-image-zoom e-btn-set-four cart-slide-left e-info-center">
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-241.png"
                                                                    alt="Product Image"></a>
                                                            <div class="on-sale">- 20%</div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Eyeglasses Korean</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$27.00</ins>
                                                                    <del>$40.00</del>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-242.png"
                                                                    alt="Product Image"></a>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Eyeglasses Korean</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$21.00</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-243.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Vintage Eyewear</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$34.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-244.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Gmei Optical</a></h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$32.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-245.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            <div class="on-sale">- 20%</div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Magnesium
                                                                    Sunglasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$38.00</ins>
                                                                    <del>$40.00</del>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-246.png"
                                                                    alt="Product Image"></a>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Polarized
                                                                    Sunglasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$7.00</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-239.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Retro Sun Glasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$16.30</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-247.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Retro Round Metal</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$106.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-featured-one">
                                        <div
                                            class="row gy-3 row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 e-title-general e-title-hover-primary e-image-bg-gray e-hover-image-zoom e-btn-set-four cart-slide-left e-info-center">
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-241.png"
                                                                    alt="Product Image"></a>
                                                            <div class="on-sale">- 20%</div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Eyeglasses Korean</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$27.00</ins>
                                                                    <del>$40.00</del>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-242.png"
                                                                    alt="Product Image"></a>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Eyeglasses Korean</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$21.00</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-243.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Vintage Eyewear</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$34.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-244.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Gmei Optical</a></h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$32.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-245.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            <div class="on-sale">- 20%</div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Magnesium
                                                                    Sunglasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$38.00</ins>
                                                                    <del>$40.00</del>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-246.png"
                                                                    alt="Product Image"></a>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Polarized
                                                                    Sunglasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$7.00</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-239.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Retro Sun Glasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$16.30</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-247.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Retro Round Metal</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$106.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-best-selling-one">
                                        <div
                                            class="row gy-3 row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 e-title-general e-title-hover-primary e-image-bg-gray e-hover-image-zoom e-btn-set-four cart-slide-left e-info-center">
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-241.png"
                                                                    alt="Product Image"></a>
                                                            <div class="on-sale">- 20%</div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Eyeglasses Korean</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$27.00</ins>
                                                                    <del>$40.00</del>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-242.png"
                                                                    alt="Product Image"></a>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Eyeglasses Korean</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$21.00</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-243.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Vintage Eyewear</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$34.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-244.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Gmei Optical</a></h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$32.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-245.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            <div class="on-sale">- 20%</div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Magnesium
                                                                    Sunglasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$38.00</ins>
                                                                    <del>$40.00</del>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-246.png"
                                                                    alt="Product Image"></a>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Polarized
                                                                    Sunglasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$7.00</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-239.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Retro Sun Glasses</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$16.30</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="product type-product">
                                                    <div class="product-wrapper">
                                                        <div class="product-image">
                                                            <a href="#" class="woocommerce-LoopProduct-link"><img
                                                                    src="/images/products/squire-247.png"
                                                                    alt="Product Image"></a>
                                                            <div class="product-labels">
                                                                <div class="badge1"><span>New</span></div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="product-info">
                                                            <h3 class="product-title"><a href="#">Retro Round Metal</a>
                                                            </h3>
                                                            <div class="product-price">
                                                                <div class="price">
                                                                    <ins>$106.88</ins>
                                                                </div>
                                                            </div>
                                                            <div class="shipping-cost"><span>+Shipping: </span>
                                                                <span>$5.00</span>
                                                            </div>
                                                            <div class="shipping-feed-back">
                                                                <div class="star-rating">
                                                                    <div class="rating-wrap">
                                                                        <a href="#"><i class="fas fa-star"></i><span>
                                                                                4.7
                                                                                (35)</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><a href="/shop" class="btn btn-dark btn-border mt-40 mx-auto d-table">All
                                Products</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Top Collection Section End ====================-->

            <!--==================== Stock Limited Section Start ====================-->
            <div class="full-row limited-stock sm-bg-img-none bg-gray"
                style="background: url(/images/background/7.png) no-repeat top / cover;">
                <div class="container">
                    <div class="row sm-justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4 offset-lg-1">
                            <div class="text-center">
                                <span class="product-tag text-primary">Shipping policy</span>
                                <h2>Free shipping worldwide on all baskets over $200.</h2>
                                <a href="/shop"
                                    class="btn-link-down-line text-uppercase d-table mx-auto font-small">Shipping &
                                    Returns</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Stock Limited Section End ====================-->

            <!--==================== Inspirational Posts Section Start ====================-->
            <div class="full-row bg-light">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h3 class="main-title down-line mb-5 text-center text-dark text-uppercase">Inspirational
                                Posts
                            </h3>
                        </div>
                    </div>
                    <div class="row row-cols-lg-3 row-cols-1">
                        <div class="col">
                            <div class="thumb-blog-simple text-center transation hover-img-zoom mb-3">
                                <div class="post-image overflow-hidden">
                                    <img src="/images/blog/2.png" alt="Image not found!">
                                </div>
                                <div class="post-content">
                                    <div class="post-meta font-small text-uppercase list-color-primary">
                                        <a><span>Fashion</span></a>
                                    </div>
                                    <h4><a href="/blog"
                                            class="transation text-dark hover-text-primary d-table my-10 mx-auto font-500">Post
                                            Format Gallery Blogs</a></h4>
                                    <p>In mattis scelerisque magna, ut tincidunt ex. Quisque nibh urna</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="thumb-blog-simple text-center transation hover-img-zoom mb-3">
                                <div class="post-image overflow-hidden">
                                    <img src="/images/blog/4.png" alt="Image not found!">
                                </div>
                                <div class="post-content">
                                    <div class="post-meta font-small text-uppercase list-color-primary">
                                        <a><span>Sunglass</span></a>
                                    </div>
                                    <h4><a href="/blog"
                                            class="transation text-dark hover-text-primary d-table my-10 mx-auto font-500">Post
                                            Format Audio Blogs</a></h4>
                                    <p>In mattis scelerisque magna, ut tincidunt ex. Quisque nibh urna</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="thumb-blog-simple text-center transation hover-img-zoom mb-3">
                                <div class="post-image overflow-hidden">
                                    <img src="/images/blog/3.png" alt="Image not found!">
                                </div>
                                <div class="post-content">
                                    <div class="post-meta font-small text-uppercase list-color-primary">
                                        <a><span>Optical</span></a>
                                    </div>
                                    <h4><a href="/blog"
                                            class="transation text-dark hover-text-primary d-table my-10 mx-auto font-500">A
                                            Beautiful Sunday Morning</a></h4>
                                    <p>In mattis scelerisque magna, ut tincidunt ex. Quisque nibh urna</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Inspirational Posts Section End ====================-->

            <!--==================== Our Partner Section Start ====================-->
            <div class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel partner-slider pb-50">
                                <div class="item">
                                    <a href="#"><img src="/images/partner/18.png" alt="Image not found!" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/images/partner/19.png" alt="Image not found!" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/images/partner/20.png" alt="Image not found!" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/images/partner/21.png" alt="Image not found!" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/images/partner/22.png" alt="Image not found!" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/images/partner/23.png" alt="Image not found!" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/images/partner/24.png" alt="Image not found!" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="/images/partner/25.png" alt="Image not found!" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== Our Partner Section End ====================-->

           <!-- ============ footer start ======================= -->
           <%- include('../partials/footer') %>
           <!-- ================= footer end ====================== -->



    </div>



    <!-- Include Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/greensock.js"></script>
    <script src="/js/layerslider.transitions.js"></script>
    <script src="/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script src="/js/paraxify.js"></script>
    <script src="/js/custom.js"></script>

    <!-- Initializing the slider -->
    <script>
        $(document).ready(function () {
            $('#slider').layerSlider({
                sliderVersion: '6.0.0',
                type: 'responsive',
                responsiveUnder: 0,
                maxRatio: 1,
                hideUnder: 0,
                hideOver: 100000,
                skin: 'v6',
                navStartStop: false,
                skinsPath: '/skins/',
                height: 960
            });
        });
    </script>


</body>

</html>